# Database Connection
DATABASE_URL=postgresql://root:root@localhost:5432/defitracker

# App Config
APP_URL=http://localhost:3002
PORT=3002
JWT_SECRET=super_secret_jwt_key_change_in_production

# SMTP Config (for emails)
SMTP_HOST=
SMTP_PORT=465
SMTP_USER=
SMTP_PASS=
